{% extends "base.html" %}
{% block content %}
  <h2>Create Campaign</h2>
  <!--method="post": Submits the form data via POST (necessary for changes in the database). -->
  <!--enctype="multipart/form-data": This is required if the form includes file uploads (like images or documents).-->
  <form method="post" enctype="multipart/form-data">
    <!-- Always include this in any Django form that modifies data.-->
    {% csrf_token %}
    <!-- This is a shortcut for displaying all fields of the Django form object passed from the view.-->
    {{ form.as_p }}
    <button type="submit">Create</button>
  </form>
{% endblock %}